.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-max-width);
  border-radius: var(--border-radius-md);
}

.content-wrapper {
  margin: 0 auto;
  max-width: var(--content-max-width);
  width: 100%;
}

main {
  position: relative;
  height: auto;
}

  @media (max-width: 1920px) {
    .container {
      max-width: 100%;
    }
  }

  @media (max-width: 650px) {
    .container {
      padding: var(--container-padding-mb);
    }
  }