footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

footer .footer-hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  max-width: 460px;
  color: var(--color-text-muted);
}

footer .navigations {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-bottom: var(--spacing-9xl);
}

footer .navigations nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .navigations nav h5 {
  padding-bottom: var(--spacing-xl);
  color: var(--color-dark-tertiary);
}

footer .roots {
  position: absolute;
  left: 32px;
  bottom: 0;
  font-size: var(--font-size-lg);
  color: var(--color-dark-quaternary);
}

footer .nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-lg);
  font-size: var(--font-size-base);
  color: var(--color-dark-primary);
  padding-right: 0;
}

footer .nav__list a {
  font-weight: var(--font-weight-light);
}

footer .nav__list li:hover a {
  color: var(--color-primary);
}

@media (min-width: 1800px) {
  footer .navigations {
    gap: 120px;
  }
}

@media (max-width: 1310px) {
  footer {
    flex-direction: column;
  }

  footer .footer-hero {
    max-width: 100%;
  }

  footer .navigations {
    justify-content: space-between;
    padding-top: var(--spacing-3xl);
  }

  footer .navigations {
    flex-wrap: wrap;
    padding-bottom: 136px;
  }
}

@media (max-width: 650px) {
  footer .roots {
    left: 8px;
    font-size: 10px;
  }

  footer .navigations {
    padding-top: var(--spacing-xl);
    padding-bottom: 68px;

    h5 {
      font-size: 10px;
    }
  }

  footer .navigations nav h5 {
    padding-bottom: var(--spacing-sm);
  }

  footer .footer-hero {
    gap: var(--spacing-sm);
    align-items: flex-start;
  }

  footer .logo {
    width: 124px;
    height: 36px;
    background-size: contain;
    margin: 0;
    align-self: flex-start;
  }

  footer .nav__list {
    gap: var(--font-size-xxs);
  }

  footer .nav__list a {
    font-size: var(--font-size-xxs);
  }
}