.logo {
  background-image: url('/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.logo {
  width: 220px;
  height: 64px;
  flex-shrink: 0;
  margin-right: 6%;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-accent-1));
  cursor: pointer;
}