#map {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  align-items: center;
}

#map img {
  max-width: 1856px;
  width: 100%;
  padding-top: 48px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  #map img {
    padding-top: 0;
  }
}