#our-approach {
  display: flex;
  flex-direction: column;
  align-items: center;

  .box-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--card-gap);
    width: 100%;
    max-width: var(--content-max-width);
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 300px;

    p {
      margin-bottom: 0;
    }
  }

  .card:nth-of-type(1) .card-icon {
    background-color: var(--color-light-primary);
    background-image: url('/icons/handshake.svg');
  }

  .card:nth-of-type(2) .card-icon {
    background-color: var(--color-light-tertiary);
    background-image: url('/icons/case.svg');
  }

  .card:nth-of-type(3) .card-icon {
    background-color: var(--color-light-secondary);
    background-image: url('/icons/greetings.svg');
  }

  .card:nth-of-type(4) .card-icon {
    background-color: var(--color-light-tertiary);
    background-image: url('/icons/cart.svg');
  }

  .card:nth-of-type(5) .card-icon {
    background-color: var(--color-light-secondary);
    background-image: url('/icons/question.svg');
  }

  .card:nth-of-type(6) .card-icon {
    background-color: var(--color-light-primary);
    background-image: url('/icons/chats.svg');
  }

  .section-title p {
    max-width: 100%;
  }
}

@media (max-width: 1440px) {

  #our-approach .box-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  #our-approach .box-cards {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: var(--spacing-xl);
  }
}

@media (max-width: 768px) {
  #our-approach .card {
    min-height: 315px;
  }
}

@media (max-width: 650px) {
  #our-approach {
    p {
      font-size: 13px;
      max-width: 245px;
    }

    .section-title p {
      font-size: var(--font-size-sm);
    }
  }

  #our-approach .card {
    min-height: 165px;
  }

  #our-approach .card-icon {
    background-size: 20px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #our-approach p {
    max-width: 375px;
  }
}

@media (min-width: 1001px) {
  #our-approach p {
    max-width: 85%;
  }

  #our-approach .section-title p {
    max-width: 100%;
  }

  h4 {
    font-size: var(--font-size-xl);
  }
}