#process-study {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-md);
    width: 100%;
    max-width: var(--content-max-width);
    margin-top: var(--spacing-3xl);
  }

  .card {
    min-height: 322px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      max-width: 300px;
    }
  }

  .special {
    justify-content: flex-end;
  }
}