#process-study {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  align-items: center;

  .cards {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
  }

  .card {
    background: var(--color-card);
    border-radius: 16px;
    min-height: 322px;
    padding: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      max-width: 300px;
    }
  }

  .special {
    justify-content: flex-end;
  }
}