#target {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

div.hero {
  padding-bottom: 72px;

  h1 {
    margin-bottom: 20px;
  }

  h1>span {
    color: var(--color-primary);
    font-size: inherit;
  }

  h3 {
    color: #2B2B2B;
  }
}

div .target-form {
  width: 32.8%;
  padding: 48px;
  border-radius: 16px;
  background: var(--color-card);

  h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-primary);
    margin-bottom: 24px;
  }

  form {
    width: 100%;
  }
}

div .target-container {
  background: var(--color-card);
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  padding: 48px;
  display: flex;
  width: 66.4%;
  flex-direction: column;
  justify-content: space-between;
  gap: 107.5px;

  picture {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    ;
  }
}

div .target-container>*:not(picture) {
  position: relative;
  z-index: 1;
}

div .target-tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 662px;

  .tags {
    background: var(--color-tags);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;

    .icon {
      background-image: url('/icons/checks.svg');
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }
}

.specialists-from {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

div .companies {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

.company-logo {
  width: 104px;
  height: 104px;
  background-color: #F7F7F7;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.companies div:nth-child(1) {
  background-image: url('/icons/wb.svg');
}

.companies div:nth-child(2) {
  background-image: url('/icons/t2.svg');
}

.companies div:nth-child(3) {
  background-image: url('/icons/lemana.svg');
}

.companies div:nth-child(4) {
  background-image: url('/icons/magnit.svg');
}

.companies div:nth-child(5) {
  background-image: url('/icons/mtc.svg');
}

@media (max-width: 1900px) {

  div .target-container {
    width: 60%;
  }

  div .target-form {
    width: 40%;
  }

  #target {
    gap: var(--spacing-lg);
  }
}

@media (max-width: 1250px) {
  #target {
    flex-direction: column;
  }

  div .target-container,
  div .target-form {
    width: 100%;
  }
}



@media (max-width: 1440px) and (min-width: 1200px) {
  #target h2 {
    font-size: 28px;
  }

  .target-content .target-text p {
    font-size: 16px;
  }

  .target-content .tags .tag {
    font-size: 14px;
    padding: 8px 12px;
  }

  .companies .company {
    width: 56px;
    height: 56px;
  }

  .companies .company img {
    width: 24px;
    height: 24px;
  }

  .target-form h3 {
    font-size: 26px;
    font-weight: 500;
  }

  .target-form p {
    font-size: 18px;
  }

  .target-form input,
  .target-form textarea {
    font-size: 14px;
  }

  .target-form .btn {
    font-size: 14px;
  }

  div .target-container {
    picture {
      right: -160px;
    }
  }
}

@media (max-width: 1920px) and (min-width: 1440px) {
  #target h2 {
    font-size: 44px;
  }

  .target-content .target-text p {
    font-size: 24px;
  }

  .target-content .tags .tag {
    font-size: 14px;
    padding: 8px 12px;
  }

  .companies .company {
    width: 56px;
    height: 56px;
  }

  .companies .company img {
    width: 24px;
    height: 24px;
  }

  .target-form h3 {
    font-size: 26px;
    font-weight: 500;
  }

  .target-form p {
    font-size: 18px;
  }

  .target-form input,
  .target-form textarea {
    font-size: 14px;
  }

  .target-form .btn {
    font-size: 14px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #target h2 {
    font-size: 32px;
  }

  .target-content .target-text p {
    font-size: 18px;
  }

  .target-content .tags .tag {
    font-size: 14px;
    padding: 8px 12px;
  }

  .companies .company {
    width: 52px;
    height: 52px;
  }

  .companies .company img {
    width: 22px;
    height: 22px;
  }

  .target-form h3 {
    font-size: 24px;
    font-weight: 500;
  }

  .target-form p {
    font-size: 16px;
  }

  .target-form input,
  .target-form textarea {
    font-size: 16px;
  }

  .target-form .btn {
    font-size: 16px;
  }

  div .target-container {
    picture {
      right: -100px;
    }
  }
}

@media (max-width: 768px) and (min-width: 650px) {
  #target h2 {
    font-size: 24px;
  }

  .target-content .target-text p {
    font-size: 16px;
  }

  .target-content .tags .tag {
    font-size: 12px;
    padding: 6px 10px;
  }

  .companies .company {
    width: 48px;
    height: 48px;
  }

  .companies .company img {
    width: 20px;
    height: 20px;
  }

  .target-form {
    padding: 16px;
  }

  .target-form h3 {
    font-size: 22px;
    font-weight: 500;
  }

  .target-form p {
    font-size: 16px;
  }

  .target-form input,
  .target-form textarea {
    font-size: 14px;
  }

  .target-form .btn {
    font-size: 14px;
  }

  div .target-container {
    picture {
      right: -200px;
      bottom: 0;
    }
  }
}

@media (max-width: 650px) {
  #target {

    div.hero {
      padding-bottom: 36px;
    }

    .target-container {
      padding: var(--spacing-sm);
    }

    .target-tags {
      width: 100%;
      max-width: 100%;
    }

    .target-form {
      padding: 12px;
      border-radius: var(--border-radius-xxs);
    }

    .target-form h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .target-form p {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 500;
      color: var(--color-text-primary);
    }
  }

  div .companies {
    gap: 6px;
    justify-content: flex-start;
  }

  .company-logo {
    width: 48px;
    height: 48px;
    background-size: 20px 20px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
  }

  .specialists-from>div:first-child {
    font-size: 12px;
    color: var(--color-text-primary);
  }

  div .target-container {
    .tags {
      justify-content: flex-start;
    }

    picture {
      right: -18px;
      bottom: -2px;
    }
  }
}