@import './styles/base/variables.css';
@import './styles/base/reset.css';
@import './styles/components/logo.css';
@import './styles/layout/container.css';
@import './styles/layout/header.css';
@import './styles/layout/footer.css';
@import './styles/components/forms.css';
@import './styles/sections/target.css';
@import './styles/sections/suitable-for.css';
@import './styles/sections/second-form.css';
@import './styles/sections/our-approach.css';
@import './styles/sections/process-study.css';
@import './styles/sections/map.css';
@import './styles/sections/team.css';
@import './styles/sections/skills.css';
@import './styles/sections/tariffs.css';
@import './styles/sections/faq.css';
@import './styles/sections/subscribe.css';


:root {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 300;

  --color-card: #FFFFFF;
  --color-accent-text: #35434D;
  --color-subtitle: #858484;

  --color-headers: #010101;

  --color-accent-1: #FD8537;
  --color-accent-2: #4F9AFF;
  --color-accent-3: #FF5A5A;
  --color-accent-4: #1DC5F3;
  --color-accent-5: #61555B;

  --color-light: #C7DBFA;
  --color-light-2: #FFC9A3;
  --color-light-3: #E9EBF2;

  --color-dark: #281724;
  --color-dark-2: #5E4C59;
  --color-dark-3: #9A9599;
  --color-dark-4: #C0BDBD;


  --color-tags: #F4F2F0;

  color-scheme: light dark;
  color: var(--color-dark);
  background-color: #F4F2F0;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}